
<center><hr color="#0d6efd" width="70%" size="2" class="my-2 mb-4"></center>
<div class="container">
<!-- Footer -->
<section class="footer pb-4">
  <div class="row w-100 mt-3 mb-2">
    <div class="col-md-12 text-center">
      <a href="https://www.linkedin.com/in/muhammad-zubair-316208194/" target="_blank" class="px-3 btn btn-primary" style="margin-right: 2%;" 
      data-aos="zoom-in" data-aos-duration="1000">
      <i class="fa fa-linkedin"></i></a>
      <a href="" target="_blank" class="px-3 btn btn-primary" style="margin-right: 2%;" 
      data-aos="zoom-in" data-aos-delay="300" data-aos-duration="1000">
      <i class="fa fa-twitter"></i></a>
      <a href="" target="_blank" class="px-3 btn btn-primary" style="margin-right: 2%;" 
      data-aos="flip-up" data-aos-delay="600" data-aos-duration="1000">
      <i class="fa fa-facebook"></i></a>
      <a href="" target="_blank" class="px-3 btn btn-primary" style="margin-right: 2%;" 
      data-aos="fade-left" data-aos-delay="900" data-aos-duration="1000">
      <i class="fa fa-instagram"></i></a>
    </div>
  </div>

  <div class="row w-100 mt-4 mb-2" data-aos="fade-up" data-aos-delay="920" data-aos-duration="1500">
    <div class="col-md-12 text-center">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quod molestiae dignissimos beatae. Eligendi numquam</p>
    </div>
  </div>

  <div class="row w-100 mb-3">
    <div class="col-md-6 text-center mt-3">
      <div class="d-inline-block me-2">
        <a href="#home">ABOUT</a>
      </div>
      <div class="d-inline-block me-2">
        <a href="#home">SKILLS</a>
      </div>
      <div class="d-inline-block me-2">
        <a href="#home">PORTFOLIO</a>
      </div>
      <div class="d-inline-block me-2">
        <a href="#home">CONTACT</a>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <form action="/user/greeting" method="post">
        <div class="w-60 d-inline-block">
            <input type="text" required name="email" class="form-control w-75 mx-auto email" placeholder="Your Email">
            <small id="emailError" class="emailError d-inline" style="color: red;"></small>
        </div>
        <div class="w-38 d-inline-block">
            <button type="submit" class="btn btn-primary form-submit">Say Hi!</button>
        </div>        
      </form>
    </div>
  </div>

  <div class="row w-100 mt-3 mb-1 text-center">
    <div class="col-md-12">
      <p class="text-center">
        &copy; 2022 Copyright, all reserved for Professional Tax Consultant 
      </p>
    </div>
  </div>
</section>
</div>

<script src="../../javascripts/AutoTyping.js"></script>
<script src="../../javascripts/bootstrap.js"></script>
<script src="../../javascripts/emailValidation.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/630ef33737898912e96652ff/1gbp6c5jo';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->

</body>
</html>