<%- include('./partials/header.ejs')  %> 
<div class="container">
  
  <!-- Profile/Intrduction section -->
  <section class="full-page" id="profile">
    <div class="profile-bg-image"></div>
    <div class="row w-100 contents">      
      <div class="col-md-6 p-5" id="introduction">        
          <div class="introduction-name d-flex flex-column mt-3"  data-aos="fade-down" data-aos-duration="1000">
            
            <h1 class="text-info bold">
              Professional Corporate & Tax Consultant
            </h1>
            <hr color="#0d6efd" width="35%" size="8px">

            <br>
            <small class="text-light">We deal with </small>
            <span
            id="subHeading"
            class="txt-rotate text-info h3"
            data-period="1500"
            data-rotate='[" ", "NTN Registration", "KPRA Registration", "Annual Income Tax Return", "WEBOC Registration", "FBR Issues", "DNFBP Registration", "Change in SECP" ]'></span>
          </div>
  
          <div class="row w-100" data-aos="fade-up" data-aos-duration="2000">
            <div class="col-md-6 col-sm-6 mt-3 introduction-button" id="profileButtons-largeViewPorts">
              <a href="#services" class="p-2 btn btn-info">Learn more</a>
            </div>
            <div class="col-md-6 col-sm-6  mt-3 introduction-button">
              <a href="#contact" class="p-2 btn btn-primary">Talk to a Consultant</a>
            </div>            
          </div>        
      </div>

      <div class="col-md-6 mt-5">
        <div class="card p-3 bg-light text-dark text-justify" data-aos="fade-left" data-aos-duration="1500">
          <p class="services-card-description">
            Discover expert tax consulting services tailored to your needs. Our certified tax consultants provide comprehensive solutions for individuals 
            and businesses, ensuring financial compliance and maximum savings.
            <span class="text-info font-italic">Professional Corporate & Tax Consultant</span> helps individuals and businesses in
          </p>
          <!-- Styled checklist using Bootstrap list-group class -->
          <ul class="">
              <li class="">
                <i class="fa fa-check-circle mr-2 mb-2 text-success"></i> WEBOC Registration
              </li>
              <li class="">
                <i class="fa fa-shield mr-2 mb-2  text-success"></i> FBR Issues
              </li>
              <li class="">
                <i class="fa fa-key mr-2 mb-2 text-success"></i> KPRA Registration
              </li>
              <li class="">
                <i class="fa fa-briefcase mr-2 mb-2 text-success"></i> NTN Registration
              </li>
              <li class="">
                <i class="fa fa-check-circle mr-2 mb-2 text-success"></i> Annual Income Tax Return
                <br>
                <small class="text-dark">and much more ...</small>
              </li>
              <!-- Add more services as needed -->
          </ul>

          <a href="https://wa.me/923119884203" target="_blank" class="btn btn-success"> 
            <i class="fa fa-whatsapp mr-2"></i> <span>Reach Us</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Profile/introduction section -->
  <center><hr width="95%" size="0.5" class="my-5" color="#0d6efd"></center>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<%- include('./partials/footer.ejs') %> 