<%- include('./partials/header.ejs')  %> 
<div class="container">
  
  <!-- Profile/Intrduction section -->
  <section class="full-page" id="profile">
    <div class="row w-100">      

      <div class="col-md-6 p-5" id="introduction">        
          <div class="introduction-name d-flex flex-column mt-3"  data-aos="fade-down" data-aos-duration="1000">
            
            <h1 class="text-primary bold">
              Professional Corporate & Tax Consultant
            </h1>
            <hr color="#0d6efd" width="35%" size="8px">
          </div>
  
          <div class="introduction-text mt-4" data-aos="fade-right" data-aos-duration="1000">
            <p class="text-justify">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam aliquid illum quibusdam fugit sequi, accusamus tempore ab nostrum quaerat excepturi. Asperiores aliquid porro consequuntur sequi, ea voluptatibus repellendus molestiae dicta!
            </p>
          </div>
  
          <div class="row w-100" data-aos="fade-up" data-aos-duration="2000">
            <div class="col-md-6 col-sm-6 mt-3 introduction-button" id="profileButtons-largeViewPorts">
              <button>First button</button>
            </div>
            <div class="col-md-6 col-sm-6  mt-3 introduction-button">
              <button>Second Button</button>
            </div>            
          </div>        
      </div>

      <div class="col-md-6">
        <div class="right-image" data-aos="fade-left" data-aos-duration="1500">
          Hi Its Home page right section
        </div>
      </div>
    </div>
  </section>
  <!-- End of Profile/introduction section -->
  <center><hr width="95%" size="0.5" class="my-5" color="#0d6efd"></center>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<%- include('./partials/footer.ejs') %> 